/********************************************************/
/* Wyllman Triangle Template                            */
/* Author: Guillermo R. P. (Wyllman)                    */
/* Version: 0.0.2                                       */
/*                                                      */
/* Description: Common styles for html base structures  */
/********************************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

/************************************/
/*--- Basic html styles          ---*/
/************************************/
html {
 	height: 100%;
}

body {
 	height: 100%;

 	background-color: white;
 	color : black;

 	/*font-family: "Times New Roman", Times, serif;*/
    font-family: 'Lato', sans-serif;
 	font-weight: 300;
 	font-size: 14px;
 	line-height: 22px;
}


/*======================================================================*/
/************************************/
/*--- Basic Template styles      ---*/
/************************************/
div#wt_dev_test {
    z-index: 3500;
    
    position: fixed;
    height: 100%;
    width: 100%;
    
    /*display: none;*/
}

div#wt_loader_wrapper {
    z-index: 2500;
    
    position: fixed;
    height: 100%;
    width: 100%;
    
    /*display: none;*/
}

div#wt_modals_wrapper {
    z-index: 2000;
    
    position: fixed;
    height: 100%;
    width: 100%;
    
    /*display: none;*/
}

div#wt_content_wrapper {
    z-index: 0;
    
    position: fixed;
    height: 100%;
    width: 100%;
    
    /*display: none;*/
}


/************************************/
/*--- Basic Loader Layer styles  ---*/
/************************************/

/* div#wt_loader_wrapper > div#wt_loader_spinner */
div#wt_loader_spinner {
    z-index: 3000;
    
    position: absolute;
    top: 40%;
    height: 10%;
    width: 100%;
}

/* div#wt_loader_wrapper > div#wt_loader_header */
div#wt_loader_header {
    z-index: 2600;
    
    position: absolute;
    top: 0px;
    height: 50%;
    width: 100%;
}

/* div#wt_loader_wrapper > div#wt_loader_back */
div#wt_loader_back {
    z-index: 2501;
    
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
    
    /*background: white;*/
}


/************************************/
/*--- Basic Modal Layer styles   ---*/
/************************************/

/* div#wt_modals_wrapper > div#wt_modals_message */
div#wt_modals_message {
    z-index: 2100;
    
    position: absolute;
    top: 25%;
    height: 50%;
    width: 100%;
}

/* div#wt_modals_wrapper > div#wt_modals_back */
div#wt_modals_back {
    z-index: 2001;
    
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
    
    /*background: white;*/
}


/************************************/
/*--- Basic Content Layer styles ---*/
/************************************/

/* div#wt_content_wrapper > div#wt_content_notifications */
div#wt_content_notifications {
    z-index: 1500;
    
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
}

/* div#wt_content_wrapper > div#wt_content_sections */
div#wt_content_sections {
    z-index: 100;
    
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
}

/* div#wt_content_wrapper > div#wt_content_sections > div#wt_content_header */
div#wt_content_header {
    z-index: 101;
}

/* div#wt_content_wrapper > div#wt_content_sections > div#wt_content_main */
div#wt_content_main {
    z-index: 101;
}

/* div#wt_content_wrapper > div#wt_content_sections > div#wt_content_footer */
div#wt_content_footer {
    z-index: 101;
}

/* div#wt_content_wrapper > div#wt_content_back */
div#wt_content_back {
    z-index: 1;
    
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
    
    /*background: white;*/
}


/*======================================================================*/
/************************************/
/*--- Common bootstrap overwrite ---*/
/************************************/
a {
    color: #C03035;
}

a:hover {
    outline: none;
    text-decoration: none;
    color: #4FCCCD;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition:  300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1{
    color: #686868;
}

h2{
    font-size: 24px;
    color: #686868;
}

h3{
    font-size: 18px;
}

/*======================================================================*/
/************************************/
/*--- Develop styles             ---*/
/************************************/
div.dev {
    box-sizing: border-box;
    
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

div.dev > div {
    box-sizing: border-box;
    
    border-style: solid;
    border-width: 3px;
    border-color: blue;
}

div.dev > div > div {
    box-sizing: border-box;
    
    border-style: solid;
    border-width: 2px;
    border-color: green;
}